generate-dataset-csv/**/*
!generate-dataset-csv/config.py
!generate-dataset-csv/execute.py

import-images/**/*
!import-images/config.py
!import-images/execute.py
!import-images/sample.csv

split-images-csv/**/*
!split-images-csv/config.py
!split-images-csv/execute.py
!split-images-csv/sample.csv
!split-images-csv/bq-query.sql
!split-images-csv/output/*.csv

update-solr-data/**/*
!update-solr-data/config.py
!update-solr-data/execute.py

upload-images-to-gcs/**/*
!upload-images-to-gcs/config.py
!upload-images-to-gcs/execute.py

import-images-from-gcs/**/*
!import-images-from-gcs/config.py
!import-images-from-gcs/execute.py

move-all-files-in-gcs/**/*
!move-all-files-in-gcs/config.py
!move-all-files-in-gcs/execute.py
